@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

$font-stack: 'Roboto', sans-serif;
$size: 40px;

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: auto 1fr auto;
    }

    div#about {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 5% 10% auto;
    
        #title {
            grid-area: 1 / 1 / span 1 / span 2;
        }
    
        #bio {
            grid-area: 2 / 1 / span 1 / span 2;
        }
    
        #skills {
            grid-area: 3 / 1 / span 1 / span 1;
            display: grid;
            grid-template-rows: 5% auto auto auto;
        }
    
        #interests {
            grid-area: 3 / 2 / span 1 / span 1;
            display: grid;
            grid-template-rows: 5% auto auto;
        }
    }
}

p, li {
    font-size: $size * 0.38;
    font-family: $font-stack;
    padding-top: 6px;
}

time {
    font-size: $size * 0.35;
    font-family: $font-stack;
}

h1 {
    font-family: $font-stack;
    font-size: $size * 0.8;
}

h2 {
    font-family: $font-stack;
    font-size: $size * 0.55;
}

h3 {
    font-family: $font-stack;
    font-size: $size * 0.45;
}

main {
    grid-area: 2 / 2 / auto / 3;
}

.social {
    grid-area: 2 / 3 / auto / 4;
    text-align: center;

    li {
        font-family: $font-stack;
        font-size: $size * 0.4;
        padding-top: 7px;
    }

    img {
        height: 25px;
        width: auto;
    }
}

.navbar {
    grid-area: 2 / 1 / auto / 2;
    text-align: center;
    padding: 10px 0 10px 0;

    li {
        font-family: $font-stack;
        font-size: $size * 0.4;
        padding-top: 7px;
    }
}

.header {
    padding-top: 0.6%;
    grid-area: 1 / 1 / span 1 / span 3;
    text-align: center;

    .title {
        font-family: $font-stack;
        font-size: $size * 1.1;
    }
}

article.project {
    padding: 15px 0 10px 0;
    border-bottom: 1px dashed rgb(0, 0, 0);

    p {
        padding-top: 12px;
    }
}

article.post {
    p:first-of-type {
        padding-top: 30px;
    }

    p {
        padding-top: 15px;
    }
}

.footer {
    grid-area: 3 / 1 / span 1 / span 3;
    border-top: 1px solid black;
    padding: 0.5%;
    text-align: center;
    font-family: $font-stack;
    font-size: $size * 0.3;
}