---
layout: base-layout.njk
title: About
---
<div id="about">
    <h1 id="title">About</h1>
    <div id="bio">
        <p>Sailesh Patel is a developer from Birmingham, UK. 
    </div>
    <img id="profile" src="/img/profile.jpg" />
    <div id="skills">
        <h1>Skills</h1>
        <div id="beginner">
            <h2>Beginner</h2>
            <ul>
                <li>HTML</li>
                <li>HTML</li>
                <li>HTML</li>
                <li>HTML</li>
            </ul>
        </div>
        <div id="intermediate">
            <h2>Intermediate</h2>
            <ul>
                <li>HTML</li>
                <li>HTML</li>
                <li>HTML</li>
                <li>HTML</li>
            </ul>
        </div>
        <div id="expert">
            <h2>Expert</h2>
            <ul>
                <li>HTML</li>
                <li>HTML</li>
                <li>HTML</li>
                <li>HTML</li>
            </ul>
        </div>
    </div>
</div>