---
layout: base-layout.njk
title: About
---
<div id="about">
    <h1 id="title">About</h1>
    <p id="bio">Hi, I'm Sailesh Patel, a Computer Science graduate from Aston University, who previously worked as an developer on my placement year as part of my degree programme.</p>
    <div id="skills">
        <h2>Skills</h2>
        <div>
            <p>Expert</p>
        </div>
        <div>
            <p>Intermediate</p>
        </div>
        <div>
            <p>Beginner</p>
        </div>
    </div>
    <div id="interests">
        <h2>Interests</h2>
    </div>
</div>