---
layout: base-layout.njk
title: About
---
<div id="about">
    <h1 id="title">About</h1>
    <div id="bio">
        <p>Sailesh Patel is a developer from Birmingham, UK with a Computing Science degree from <a href="https://www.aston.ac.uk/">Aston University</a>, who creates websites and software.</p> 
        <p>Sailesh has worked for companies like <a href="https://majestic.com/">Majestic</a>, run events like <a href="https://astonhack2017.devpost.com/">AstonHack</a> 2017 and has given talks at events like <a href="https://www.youtube.com/watch?v=8aTTJhEzyPU">MLH Hackcon EU III</a>, where he spoke about supporting neurodiverse participants.</p>
        <p>Outside the world of technology, Sailesh keeps up to date with current affairs, listens to a range of podcasts and bakes.</p>
        <p>To get in touch with Sailesh, you can find him on <a href="https://www.linkedin.com/in/saileshapatel/">LinkedIn</a> and <a href="https://github.com/SaileshPatel">GitHub</a> and email him at <a href="mailto:contact@saileshpatel.xyz">contact@saileshpatel.xyz</a>.</p>
    </div>
    <img id="profile" src="/img/profile.jpg" />
    <div id="skills">
        <h1>Skills</h1>
        <div id="expert">
            <h2>Expert</h2>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>jQuery</li>
                <li>Java</li>
                <li>VueJS</li>
            </ul>
        </div>
        <div id="intermediate">
            <h2>Intermediate</h2>
            <ul>
                <li>SQL</li>
                <li>SASS</li>
                <li>Spring (Boot)</li>
                <li>PHP</li>
            </ul>
        </div>
        <div id="beginner">
            <h2>Beginner</h2>
            <ul>
                <li>Laravel</li>
                <li>LISP</li>
                <li>C</li>
                <li>C++</li>
            </ul>
        </div>
    </div>
</div>