@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    row-gap: 20px;
}

.header {
    grid-column: 1 / span 6;
    text-align: center;
}

h1.title {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
}